<div class="container">
  <h1>eDziekanat</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Strona domowa</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/subjects">Przedmioty</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/students">Studenci</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/groups">Grupy</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/contact']">Kontakt</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
